@font-face {
    font-family: 'Young Serif';
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
}

html {
    font-size: 62.5%;
}

:root {
    --Nutmeg: hsl(14, 45%, 36%);
    --Dark-Raspberry: hsl(332, 51%, 32%);
    --White: hsl(0, 0%, 100%);
    --Rose-White: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --Light-Grey: hsl(30, 18%, 87%);
    --Wenge-Brown: hsl(30, 10%, 34%);
    --Dark-Charcoal: hsl(24, 5%, 18%);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--Wenge-Brown);
    font-family: 'Outfit';
    font-weight: 400;
}

.recipe_banner {
    height: 22.0rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
}

.recipe_content {
    margin: 0 2.5rem;
}

article {
    margin-bottom: 2.5rem;
}

li {
    margin-left: 2.5rem;
}

.recipe_title {
    margin-bottom: 1.2rem;
    color: var(--Dark-Charcoal);
    font-family: 'Young Serif';
    font-weight: 400;
    font-size: 3.2rem;
}

.preparation_time {
    margin-top: 2.5rem;
    background: var(--Rose-White);
    padding: 2.0rem;
}

.preparation_time h2 {
    color: var(--Dark-Raspberry);
    font-family: 'Outfit';
    font-weight: 500;
}

h2 {
    margin-bottom: 1.2rem;
    font-family: 'Young Serif';
    font-weight: 400;
}

ul,
ol {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

strong {
    color: var(--Wenge-Brown);
}

.sub_title {
    color: var(--Nutmeg);
}

.instructions_guide {
    border-top: 0.1rem solid var(--Wenge-Brown);
    border-bottom: 0.1rem solid var(--Wenge-Brown);
    padding: 2.5rem 0;
}

.item-data {
    color: var(--Nutmeg);
    font-weight: 600;
    text-align: start;
}

th {
    font-weight: 400;
}

 th,
 td{
    padding: 1.2rem;
}

tr {
    border-bottom: 0.05rem solid var(--Wenge-Brown);
}

table tr:nth-child(4) {
    border-bottom: none;
}

table {
    margin: 2.0rem 0;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}


@media screen and (min-width: 768px) {

    body {
        display: grid;
        place-content: center;
        min-height: 100vh;
        font-size: 1.7rem;
    }

    .recipe_banner {
        height: 35.0rem;
    }

    img {
        border-radius: 0.8rem;
    }

    main {
        max-width: 74.8rem;
        margin: 2.0rem;
    }

    .recipe_content {
        margin: 2.0rem 0;
    }

    th {
        text-align: start;
    }

}